<app-header />
<div class="container mt-5">
  <main>
    <div id="dashboard">
      <div class="row">
        <div class="col-md-4">
          <div class="dashboard-item card">
            <app-server-status />
          </div>
        </div>
        <div class="col-md-4">
          <div class="dashboard-item card">
            <app-traffics />
          </div>
        </div>
        <div class="col-md-4">
          <div class="dashboard-item card">
            <app-tickets />
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer />
