<app-header />
<div class="container mt-5">
  <main>
    <div id="dashboard">
      <div class="row">
        <div class="col-md-4">
            <app-dashboard-item [image]="{ src: 'server.png', alt: 'A signal symbol'}" [title]="'A signal symbol'">
            <app-server-status />
            </app-dashboard-item>
        </div>
        <div class="col-md-4">
            <app-dashboard-item [image]="{ src: 'traffic.png', alt: 'A Traffic symbol'}" [title]="'A Traffic symbol'">
            <app-traffics />
            </app-dashboard-item>
        </div>
        <div class="col-md-4">
            <app-dashboard-item [image]="{ src: 'traffic.png', alt: 'A Tickets symbol'}" [title]="'A Tickets symbol'">
            <app-tickets />
        </app-dashboard-item>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer />
